html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html { 
  background: url(images/background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  font-family: "Oswald", sans-serif;
  width: 1440px;
}

.outermost-container {
  display: flex;
  justify-content: space-around;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  font-style: italic;
}

.glitch {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 9vw;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  /* background: black; */
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  /* background: black; */
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    transparent 1%
  );

  animation: fudge 7s ease-in-out alternate infinite;
}


@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: .8vw;
  color: rgba(165, 141, 141, .4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

#current-word {
  color: white;
  font-size: 90px;
  text-align: center;
}

#time {
  color: white
}

.container1 {
  display: flex;
  margin-top: 250px;
  justify-content: center;
  color: white;
}

.score-container {
  color: white;
}

.left-container {
  color: white;
}

.game-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulty-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.difficulty-border {
  max-width: 500px;
  height: 50px;
  padding: 0 10px 0 10px;
  padding-bottom: 15px;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

#difficulty-header {
  font-size: 35px;
  font-style: bold;
  margin-top: 10px;
}

.select-difficulty {
  display: flex;
  font-size: 30px;
  margin-top: 15px;
}

.links {
  display: flex;
  color: white;
}

/* BUTTONS */

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    border-style: none;
    background-color: black;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
}



.btn:focus{
  border: none;
  outline: none;
}

.btn:active {
  color: red;
}

.btn {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn span {
    transition: all 0.3s;
}

/* btn-easy */

.btn-easy {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-easy::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #91C4F2;
    border-bottom-color: #91C4F2;
    transform: scale(0.1, 1);
}

.btn-easy::after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* btn-med */
.btn-med::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #AABD8C;
    border-bottom-color: #AABD8C;
    transform: scale(0.1, 1);
}

/* btn-hard */
.btn-hard {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-hard::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #ED474A;
    border-bottom-color: #ED474A;
    transform: scale(0.1, 1);
}

.btn-hard::after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn:hover span {
    letter-spacing: 3px;
}
.btn:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}


/* TEXT INPUT */

#word-input {
  background: white;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  width: 350px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
  border: 0;
  box-shadow: inset 0 0 0 3px white,
			0 0 0 4px white,
			3px -3px 30px lightgreen, 
      -3px 3px 30px #10abff;
  margin-top: 15px;
}

#word-input:focus {
  outline: none;
}

#word-input:hover {
  cursor: pointer;
}

/* LEFT CONTAINER */

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  text-transform: uppercase;
  background-color: black;
  box-shadow: 
			3px -3px 30px magenta, 
      -3px 3px 30px #10abff;
  border-radius: 30px;
  width: 250px;
  height: 300px;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.countdown > h3 {
  border-bottom: solid 1px;
}

#time {
  font-size: 50px;

}

/* SCORE CONTAINER */

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  text-transform: uppercase;
  background-color: black;
  box-shadow: 
			3px -3px 30px lightgreen, 
      -3px 3px 30px #10abff;
  border-radius: 30px;
  width: 250px;
  height: 300px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score > h3 {
  border-bottom: solid 1px;
}

.high-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  opacity: 50%;
  transition: 500ms;
}

.high-score > h3 {
  border-bottom: solid 1px;
}

.high-score:hover {
  color: #4CFACC;
}

#score, #high-score {
  font-size: 50px;
}


.linkedin .github {
  width: 20px;
}

.links {
  display: flex;
  width: 220px;
  justify-content: space-between;
  margin-top: 20px;
  transition: .400ms;
}

.links > a{
  color: white;
  transition: all 0.5s ease;
}

.links > a:hover {
  color: #AABD8C;
  transform: scale(1.2);
}

/* MUSIC-BTN */

.music-btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  transition: 400ms;
}

.music-btn-on:hover {
  color: #4CFACC;
}

.music-btn-off:hover {
  color: red;
}

.bg-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 50%;
}

.bg-music > h1 {
  border-bottom: solid 1px;
}

.bg-music-btns {
  display: flex;
  justify-content: space-between;
  width: 75px;
}


/* MODAL */

#modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  /* display: inline-flex; */
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 15px #AABD8C;
}
.message {
  /* display: none; */
  font-size:1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
  color: black;
}
.modal-btn {
  /* display: none; */
  color:black;
  font-family: "Oswald", sans-serif;
  font-size: black;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.modal-modal-btn:last-child {
  /* display: none; */
  margin: 0;
}

.modal-btn:hover {
  /* display: none; */
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
  cursor: pointer;
}

.modal-btn:active {
  /* display: none; */
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  /* display: none; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding: 0;
}